# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\codelab\bot420v3lite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
